@media only screen and (max-width: 480px) {
  .a {
    height: 75px;
  }
  .b {
    height: 150px;
  }
  .c, .d {
    height: 125px;
  }
  .i {
    height: 80px;
  }
  section {
    display: flex;
  }
  main section div {
    width: 240px;
    height: 250px;
  }
}

/* .a {
  height: 100px
}
.b {
  float: left;
  width: 200px;
  height: 600px
}
.c {
  float: left;
  width: 380px;
  height: 200px;
}
.d {
  float: right;
  width: 380px;
  height: 200px;
}
section {
  display: flex;
}
main section div {
  width: 190px;
  height: 250px;
}
.i {
  height: 150px;
} */


